
<div id="chess_div">
<div class="contentPane">
    <table id="chess_board" cellpadding="0" cellspacing="0">
        <tr>
            <td><li id="A8" onclick="processClick('A8')"></a></td>
            <td><li id="B8" onclick="processClick('B8')"></a></td>
            <td><li id="C8" onclick="processClick('C8')"></a></td>
            <td><li id="D8" onclick="processClick('D8')"></a></td>
            <td><li id="E8" onclick="processClick('E8')"></a></td>
            <td><li id="F8" onclick="processClick('F8')"></a></td>
            <td><li id="G8" onclick="processClick('G8')"></a></td>
            <td><li id="H8" onclick="processClick('H8')"></a></td>
        </tr>
        <tr>
            <td><li id="A7" onclick="processClick('A7')"></a></td>
            <td><li id="B7" onclick="processClick('B7')"></a></td>
            <td><li id="C7" onclick="processClick('C7')"></a></td>
            <td><li id="D7" onclick="processClick('D7')"></a></td>
            <td><li id="E7" onclick="processClick('E7')"></a></td>
            <td><li id="F7" onclick="processClick('F7')"></a></td>
            <td><li id="G7" onclick="processClick('G7')"></a></td>
            <td><li id="H7" onclick="processClick('H7')"></a></td>
        </tr>
        <tr>
            <td><li id="A6" onclick="processClick('A6')"></a></td>
            <td><li id="B6" onclick="processClick('B6')"></a></td>
            <td><li id="C6" onclick="processClick('C6')"></a></td>
            <td><li id="D6" onclick="processClick('D6')"></a></td>
            <td><li id="E6" onclick="processClick('E6')"></a></td>
            <td><li id="F6" onclick="processClick('F6')"></a></td>
            <td><li id="G6" onclick="processClick('G6')"></a></td>
            <td><li id="H6" onclick="processClick('H6')"></a></td>
        </tr>
        <tr>
            <td><li id="A5" onclick="processClick('A5')"></a></td>
            <td><li id="B5" onclick="processClick('B5')"></a></td>
            <td><li id="C5" onclick="processClick('C5')"></a></td>
            <td><li id="D5" onclick="processClick('D5')"></a></td>
            <td><li id="E5" onclick="processClick('E5')"></a></td>
            <td><li id="F5" onclick="processClick('F5')"></a></td>
            <td><li id="G5" onclick="processClick('G5')"></a></td>
            <td><li id="H5" onclick="processClick('H5')"></a></td>
        </tr>
        <tr>
            <td><li id="A4" onclick="processClick('A4')"></a></td>
            <td><li id="B4" onclick="processClick('B4')"></a></td>
            <td><li id="C4" onclick="processClick('C4')"></a></td>
            <td><li id="D4" onclick="processClick('D4')"></a></td>
            <td><li id="E4" onclick="processClick('E4')"></a></td>
            <td><li id="F4" onclick="processClick('F4')"></a></td>
            <td><li id="G4" onclick="processClick('G4')"></a></td>
            <td><li id="H4" onclick="processClick('H4')"></a></td>
        </tr>
        <tr>
            <td><li id="A3" onclick="processClick('A3')"></a></td>
            <td><li id="B3" onclick="processClick('B3')"></a></td>
            <td><li id="C3" onclick="processClick('C3')"></a></td>
            <td><li id="D3" onclick="processClick('D3')"></a></td>
            <td><li id="E3" onclick="processClick('E3')"></a></td>
            <td><li id="F3" onclick="processClick('F3')"></a></td>
            <td><li id="G3" onclick="processClick('G3')"></a></td>
            <td><li id="H3" onclick="processClick('H3')"></a></td>
        </tr>
        <tr>
            <td><li id="A2" onclick="processClick('A2')"></a></td>
            <td><li id="B2" onclick="processClick('B2')"></a></td>
            <td><li id="C2" onclick="processClick('C2')"></a></td>
            <td><li id="D2" onclick="processClick('D2')"></a></td>
            <td><li id="E2" onclick="processClick('E2')"></a></td>
            <td><li id="F2" onclick="processClick('F2')"></a></td>
            <td><li id="G2" onclick="processClick('G2')"></a></td>
            <td><li id="H2" onclick="processClick('H2')"></a></td>
        </tr>
        <tr>
            <td><li id="A1" onclick="processClick('A1')"></li></td>
            <td><li id="B1" onclick="processClick('B1')"></li></td>
            <td><li id="C1" onclick="processClick('C1')"></li></td>
            <td><li id="D1" onclick="processClick('D1')"></li></td>
            <td><li id="E1" onclick="processClick('E1')"></li></td>
            <td><li id="F1" onclick="processClick('F1')"></li></td>
            <td><li id="G1" onclick="processClick('G1')"></li></td>
            <td><li id="H1" onclick="processClick('H1')"></li></td>
        </tr>
    </table>
</div>
</div>



<script>

    var alphaToNum = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'H'}
    var numToAlpha = {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7}
    var start_board = 'RHBQKBHRPPPPPPPP00000000000000000000000000000000pppppppprhbqkbhr'
    var current_board = null;
    var board_docs;

    var piece_selected = false;
    var square_color;
    var selected_piece_id;
    var myTurn;

    function IDtoBoardPos(id) {
        col = numToAlpha[id[0]]
        row = parseInt(id[1]) - 1
        return row * 8 + col
    }

    function UpdateMyTurn(status) {
        myTurn = status
    }

    function updateGameBoard(board){
        for(i=0; i < 64; i++) {
            document.getElementById(alphaToNum[i%8] + String(Math.floor(i/8+1))).className = board[i]
        }
        current_board = board
    }

    function updateGameBoardRaw(board) {
      for(i=0; i < 8; i++){
          for(j=0; j < 8; j++) {
            document.getElementById(alphaToNum[j] + String(i+1)).className = start_board[i*8+j]
         }
      }
    }
  
    function resetGameBoard() {
      updateGameBoardRaw(start_board)
      current_board = start_board
    }
  

    function processClick(id) {
        if(!myTurn) {   return;   }
        if (cookieExists('play_id') && getCookie("gametype") == 'chess'){
            if (!piece_selected) {
                if (current_board != null && current_board[IDtoBoardPos(id)] == '0') {return;}
                square_color = String(document.getElementById(id).style.backgroundColor)
                document.getElementById(id).style.backgroundColor = "green"
                selected_piece_id = id
                piece_selected = true
            }
            else if (selected_piece_id != id) {
                applyMove(selected_piece_id, id)
                document.getElementById(selected_piece_id).style.backgroundColor = square_color
                square = null
                selected_piece_id = null
                piece_selected = false
            }
        }
    }

    function applyMove(square_from, square_to) {
        
        var request = new XMLHttpRequest();
        request.addEventListener('load', processResult);
        request.open('POST', {{ url_for('play_chess_move')|tojson }});
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
        request.setRequestHeader('Authorization', 'Bearer ' + getCookie("access_token"))
        request.send(JSON.stringify({'square_from': square_from, 'square_to': square_to, 'play_id': getCookie('play_id')}));

    }
    
    function processResult(){
      ;
    }
  
    function run_chess_script() {
        if(!cookieExists('play_id')){
            resetGameBoard()
        } else {
            myTurn = false;
        }
    }

  </script>


<style>
#chess_board li:hover {
    cursor: pointer;
    display: block !important;
}


</style>