<!doctype html>
<title>Board Games</title>
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='sakura-earthly.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='my.css') }}">
<script src="{{ url_for('static', filename='mylib.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<style>
  ul { margin: 0; padding: 0; display: flex; list-style-type: none; }
  li > * { padding: 1em; }
  li.active > a { color: #5e5e5e; border-bottom: 2px solid #4a4a4a; }
  form { display: flex; }
  label > input { width: 3em; }
  form > * { padding-right: 1em; }
  #result { font-weight: bold; }
</style>
<ul>
  <li><span>----------------</span>
  <li class="{% if js == 'play' %}active{% endif %}">
    <a href="{{ url_for('index', js='play', gametype='tic-tac-toe') }}" id="play_nav_button">Play</a>
  <li class="{% if js == 'spectate' %}active{% endif %}">
    <a href="{{ url_for('index', js='spectate', gametype='tic-tac-toe') }}" id="spectate_nav_button">Spectate</a>
  <li class="{% if js == 'scores' %}active{% endif %}">
    <a href="{{ url_for('index', js='scores', score_show='practice') }}" id="scores_nav_button">Scores</a>
{% if role == 'official' %}
    <li class="{% if js == 'create_tournament' %}active{% endif %}">
      <a href="{{ url_for('index', js='create_tournament') }}" id="create_tournament_nav_button">Create</a>
{% elif role == 'admin' %}
<li class="{% if js == 'create_account' %}active{% endif %}">
  <a href="{{ url_for('index', js='create_account') }}" id="create_account_nav_button">Create</a>
{% endif %}
  <li class="{% if js == 'login' %}active{% endif %}">
    <a href="{{ url_for('index', js='login') }}" id="login_nav_button">Login</a>
    <li><span>----------------</span>
</ul>
<hr>
{% block content %}{% endblock %}

<span id="logged_in_as"> {% if logged_in %} Logged in as: {{ username }} {% endif %}</span>





{% block script %}{% endblock %}



<script>


window.onload = function() {
  // Important: 
  {% if js == 'login' %}
      run_login_block_script();
  {% elif js == 'play' %}
      run_play_block_script();
  {% elif js == 'spectate' %}
    run_spectate_block_script();
  {% elif js == 'scores' %}
    run_scores_block_scipt();
  {% elif js == 'create_tournament' %}
    run_create_tournament_block_scipt();
  {% elif js == 'create_account' %}
    run_create_account_block_scipt();
  {% endif %}

  logged_in_as = document.getElementById('logged_in_as')
}
  
</script>