{% extends 'base.html' %}



{% block content %}


<div style="text-align: center; margin-left: 3em; margin-right: 3em; font-size: 1.5em;">
    <span>Create Account</span>
  </div>
  <hr>

    <div style="font-size: 1em; height: 300px;margin-top: 40px;">
        <label for="username_input" id="username_label">Username:</label>
        <input type="text" id="username_input" name="username" style="margin: 0px; margin-bottom: 5px;">
        <label for="password_input" id="password_label">Password:</label>
        <input type="password" id="password_input" name="password" style="margin: 0px;"><br><br>

        <label for="role_label" style="margin-right: 12px;font-size: 110%;margin-bottom: 10px">Account Role:</label>
        <select id="role_input" name="role_list" form="create_account_form" style="margin-right: 46px;height: 35px;">
          <option value="player">Player</option>
          <option value="official">Official</option>
          <option value="admin">Admin</option>
        </select>

        <input type="submit" value="Create" onclick="onCreate();" style="margin: 0px;font-size: 120%; border-radius: 2px; border-color: black;">
      </form>
      <div id="form_message"></div>
    </div>


</div>
<hr>
{% endblock %}




{% block script %}
<script>

  var username_input;
  var password_input;
  var role_input;
  var form_message;

  function run_create_account_block_scipt() {
    username_input = document.getElementById('username_input')
    password_input = document.getElementById('password_input')
    role_input = document.getElementById('role_input')
    form_message = document.getElementById('form_message');
  }
  
  function onCreate() {
    var request = new XMLHttpRequest();
        request.addEventListener('load', processCreateResult);
        request.open('POST', {{ url_for('auth_register')|tojson }});
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.setRequestHeader('Authorization', 'Bearer ' + getCookie("access_token"))
        request.send(JSON.stringify({'username': username_input.value, 'password': password_input.value, 'role': role_input.value}));
  }
  function processCreateResult() {
    var data = JSON.parse(this.responseText);

    if (this.status == 201) {
      form_message.innerText = "Account is created successfully";
    }
    else if (this.status == 400){
      form_message.innerText = data[Object.keys(data)[0]]
    }
  }

</script>
{% endblock %}
