{% extends 'base.html' %}



{% block content %}





    
      
    <label for="username_input" id="username_label">Username:</label>
    <input type="text" id="username_input" name="username" style="margin: 0px; margin-bottom: 5px;">
    <label for="password_input" id="password_label">Password:</label>
    <input type="password" id="password_input" name="password" style="margin: 0px;"><br><br>
    <input type="submit" value="Login" id="login_button" onclick="onLogin()" style="margin: 0px;font-size: 80%; border-radius: 2px; border-color: black;">
    <input type="submit" value="Register" id="register_button" onclick="onRegister(this)" style="margin: 0px;font-size: 80%; border-radius: 2px; border-color: black;">
    <input type="submit" value="Log out" id="log_out_button" onclick="onLogout(this)" style="margin: 0px;font-size: 80%; border-radius: 2px; border-color: black;">
      
    

    <div id="form_message"></div>

</div>
<hr>


{% endblock %}




{% block script %}
<script>

  var submitName;
  var login_button;
  var register_button;
  var log_out_button;
  var username_label;
  var password_label;
  var username_input;
  var password_input;
  var form_message;

  function setSubmit (button)
  {
    submitName = button.value;
  }

  function setActive(element, active, display_value_on_activate = "block") {
    if (active) {
      element.style.display = display_value_on_activate
    } 
    else {
      element.style.display  = "none"
    }
  }

  function prepareFormBasedOnLogin(is_logged_in) {
    if (is_logged_in) {
      setActive(login_button, false)
      setActive(register_button, false)
      setActive(log_out_button, true, "inline-block")
      setActive(username_input, false)
      setActive(username_label, false)
      setActive(password_input, false)
      setActive(password_label, false)
    } 
    else {
      setActive(login_button, true, "inline-block")
      setActive(register_button, true, "inline-block")
      setActive(log_out_button, false)
      setActive(username_input, true, "inline-block")
      setActive(username_label, true)
      setActive(password_input, true, "inline-block")
      setActive(password_label, true)
    }
  }
  

  function run_login_block_script() {
    login_button = document.getElementById('login_button')
    register_button = document.getElementById('register_button')
    log_out_button = document.getElementById('log_out_button')
    username_input = document.getElementById('username_input')
    password_input = document.getElementById('password_input')
    username_label = document.getElementById('username_label');
    password_label = document.getElementById('password_label');
    form_message = document.getElementById('form_message');
    
    form_message.innerText = ""
    if(cookieExists("access_token")) {
      prepareFormBasedOnLogin(true)
    }
    else
    {
      prepareFormBasedOnLogin(false)
    }
  }

  function onLogin() {
    if (!cookieExists("access_token")) {
      var request = new XMLHttpRequest();
      request.addEventListener('load', processLoginResult);
      request.open('POST', {{ url_for('auth_login')|tojson }});
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      request.send(JSON.stringify({'username': username_input.value, 'password': password_input.value}));
      form_message.innerText = ""
    } else {
      form_message.innerText = "Already logged in.";
    }
  }

  function onRegister() {
    if (!cookieExists("access_token")) {
      var request = new XMLHttpRequest();
      request.addEventListener('load', processRegisterResult);
      request.open('POST', {{ url_for('auth_register')|tojson }});
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      request.send(JSON.stringify({'username': username_input.value, 'password': password_input.value, 'role': 'player'}));
    } 
    else {
      form_message.innerText = "You need to log out first."
    }
  }

  function onLogout() {
    handleLogout()
  }
  
  function processLoginResult() {
    var data = JSON.parse(this.responseText);

    if (this.status == 200) {
      setCookie("access_token", data.token)
      setCookie("player_id", data.id)
      setCookie("username", data.username)
      form_message.innerText = "Logged in Successfully";
      prepareFormBasedOnLogin(true)
    }
    else if (this.status == 400){
      form_message.innerText = data[Object.keys(data)[0]]
    }
  }

  function processRegisterResult() {
    var data = JSON.parse(this.responseText);

    if (this.status == 201) {  
      form_message.innerText = "Registered successfully";
    }
    else if (this.status == 400){
      form_message.innerText = data[Object.keys(data)[0]]
    }
  }

  function handleLogout() {
    form_message.innerText = "Logged out successfully.";
    setCookie("access_token", "")
    setCookie("player_id", "")
    setCookie("username", "")
    prepareFormBasedOnLogin(false)
    form_message.innerText = ""
  }

</script>
{% endblock %}
