{% extends 'base.html' %}



{% block content %}


<ul>
  <li class="{% if gametype == 'tic-tac-toe' %}active{% endif %}">
    <a href="{{ url_for('index', js='spectate', gametype='tic-tac-toe') }}" id="tic_tac_toe_nav_button">TicTacToe</a>
  <li class="{% if gametype == 'chess' %}active{% endif %}">
    <a href="{{ url_for('index', js='spectate', gametype='chess') }}" id="chess_nav_button">Chess</a>
</ul>
<hr>

{% if gametype == 'tic-tac-toe' %}
  {% include 'entities/tic-tac-toe.html' %}
{% elif gametype == 'chess' %}
  {% include 'entities/chess.html' %}
{% endif %}

<div style="text-align: center; margin-left: 3em; margin-right: 3em; font-size: 1.5em;">
  <span id="player1" style="float: left;">Player1</span> vs <span id="player2" style="float: right;">Player2</span>
</div>
<hr>

<div style="grid-auto-rows: auto; text-align: center; height: 200px;">
  <span style="font-size: x-large;">Available live Games</span>
  <hr>
  <div style="margin-top: 10px;">
  <ul class="gamelist" id="gamelist">
    <!--<button style="float: right; background-color: purple;" type="button">Spectate</button> <li>Player1 vs Player2 in game {{gametype}}</li> 
    <button style="float: right; background-color: purple;" type="button">Spectate</button> <li>Player1 vs Player2 in game {{gametype}}</li>
    <button style="float: right; background-color: purple;" type="button">Spectate</button> <li>Player1 vs Player2 in game {{gametype}}</li>
    <button style="float: right; background-color: purple;" type="button">Spectate</button> <li>Player1 vs Player2 in game {{gametype}}</li>-->
  </ul>
  </div>

</div>
<hr>


{% endblock %}


{% block script %}
<script>

  var gamelist;
  var spectate_socket;

  function updateNames(player1, player2) {
      document.getElementById('player1').innerText = player1
      document.getElementById('player2').innerText = player2
  }


  function updateScores(player1_id, player1_usr, player2_usr, isADraw, winner_id, gameover){
    if(gameover){
      if(isADraw){
        updateNames(player1_usr + " (Draw)", player2_usr + " (Draw)")
      } else if(player1_id == winner_id) {
        updateNames(player1_usr + " (Winner)", player2_usr + " (Loser)")
      } else {
        updateNames(player1_usr + " (Loser)", player2_usr + " (Winner)")
      }
    }
  }

  function addElementToGameList(player1_username, player2_username, play_id) {
    gamelist.innerHTML += '<div style="margin-bottom: 5px;"><button onclick="getActiveGameUpdate('+ play_id +');" style="float: right; background-color: purple;" type="button">Spectate</button> <li>' + player1_username + ' vs ' + player2_username + ' in game {{gametype}}</li></div>'
  }

  function clearGameList() {
    gamelist.innerHTML = ""
  }

  function LoadActiveGames() {
    var request = new XMLHttpRequest();
    request.addEventListener('load', LoadActiveGamesResult);
    request.open('GET', {{ url_for('getAllActivePlays')|tojson }});
    request.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
    request.setRequestHeader('Authorization', 'Bearer ' + getCookie("access_token"))
    request.send();
  }
  function LoadActiveGamesResult() {
    var data = JSON.parse(this.responseText);
    if (this.status == 200) {
      clearGameList()
      plays = data['plays']
      for(i=0; i < plays.length; i++) {
        if (plays[i]['gametype'] == "{{gametype}}")
          addElementToGameList(plays[i]['player1_username'], plays[i]['player2_username'], plays[i]['play_id'])
      }
    }
  }

  function run_spectate_block_script(){
    gamelist = document.getElementById('gamelist')
    if( cookieExists("access_token")){
      LoadActiveGames()
      //connect_socket = io.connect('{{ url_for('index', _external=True) }}')
      spectate_socket = io('/spectate')
    }
  }



    function getActiveGameUpdate(play_id) {
      var request = new XMLHttpRequest();
      request.addEventListener('load', getActiveGameUpdateResult);
      request.open('POST', {{ url_for('getGameStateIfPlayExists')|tojson }});
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
      request.setRequestHeader('Authorization', 'Bearer ' + getCookie("access_token"))
      request.send(JSON.stringify({'play_id': play_id }));

      
      spectate_socket.emit('spectate' , play_id, getCookie('access_token'))
      
      spectate_socket.on('spectate_game_' + String(play_id), function(res) {
          updateNames(res['player1_username'], res['player2_username'])
          updateGameBoard(res['gamestate'])
          setCookie("play_id", res['play_id'])
          updateScores(res['player1_id'], res['player1_username'], res['player2_username'], res['isADraw'], res['winner'], res['gameover'])
        });
    }
    function getActiveGameUpdateResult(){
      if (this.status == 200) {
        var data = JSON.parse(this.responseText);
        player1_username = data['player1_username']
        player2_username = data['player2_username']
        gametype = data['gametype']
        gamestate = data['gamestate']
        updateNames(player1_username, player2_username)
        updateGameBoard(gamestate)
        updateScores(data['player1_id'], data['player1_username'], data['player2_username'], data['isADraw'], data['winner'], data['gameover'])
      } else {
        updateNames("Player1", "Player2")
        resetGameBoard()
      }
    }


  
  {% if gametype == 'tic-tac-toe' %}
      run_tic_tac_toe_script();
    {% elif gametype == 'chess' %}
      run_chess_script();
    {% endif %}











</script>
{% endblock %}
